<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title> Jobs </title>
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
 </head>
 <body id="read_plant_watering_results">
   <h2> Name: </h2>
   <%= @plantname%>
   <h2> Contact: </h2>
<%= @plantcontact %>
   <h2> Zip Code: </h2>
   <%= @plantzip_code%>
 </body>
</html>