<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <title> Jobs </title>
 </head>
 <body id="read_grocery_shopping_results">
   <h2> Name: </h2>
 <%= @groceryname %>
   <h2> Contact Information: </h2>
<%= @grocerycontact %>
   <h2> Zip Code: </h2>
<%= @groceryzip_code %>
 </body>
</html>
