<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title> Jobs </title>
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
 </head>
 <body id="read_pet_feeding_results">
   <h2> Name: </h2>
 <%= @feedingname%>
   <h2> Contact: </h2>
<%= @feedingcontact %>
   <h2> Zip Code </h2>
<%= @feedingzip_code%>
 </body>
</html>