<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <title> Jobs </title>
 </head>
 <body id="read_laundry_results">
   <h2> Name: </h2>
 <%= @laundryname %>
    <h2> Contact: </h2>
<%= @laundrycontact %>
    <h2> Zip Code: </h2>
<%= @laundryzip_code %>
    <h2> Loads: </h2>
<%= @laundryloads %>
 </body>
</html>
