<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <title> Jobs </title>
 </head>
 <body id="read_dog_walking_results">
    <h2> Name: </h2>
  <%= @dogwalkingname%>
     <h2> Number of Dogs: </h2>
    <%= @dogwalkingdogs %>
      <h2> Contact: </h2>
<%= @dogwalkingcontact %>
   <h2> Zip Code: </h2>
   <%= @dogwalkingzip_code%>
 </body>
</html>
