<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/jobs.css">
  <title> Jobs </title>
 </head>
 <body id="read_babysitter_results">
   <h2> Name: </h2>
   <%= @babysittername1 %>
   <h2> Kids: </h2>
  <%= @babysitterkids1 %>
   <h2> Contact Information: </h2>
   <%= @babysittercontact1 %>
   <h2> Zip Code </h2>
   <%= @babysitterzip_code1 %>
 </body>
</html>
